<div class="tabela-container">
  <div class="tabela">
    <table>
      <tr>
        <th>MARKUP R$ MASTER</th>
        <th>MARKUP R$ VISA</th>
        <th>MARKUP R$ OUTROS</th>
      </tr>
      <tr>
        <td>{{ ((resultados[0] * masterShare / 100) * (table.debito.masterCard -
          maquininhaTable.debito.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[0] * visaShare / 100) * (table.debito.visa -
          maquininhaTable.debito.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[0] * outrosShare / 100) * (table.debito.outros -
          maquininhaTable.debito.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[1] * masterShare / 100) * (table.credito.masterCard -
          maquininhaTable.credito.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[1] * visaShare / 100) * (table.credito.visa -
          maquininhaTable.credito.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[1] * outrosShare / 100) * (table.credito.outros -
          maquininhaTable.credito.outros)/100)| currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[2] * masterShare / 100) * (table.duas.masterCard -
          maquininhaTable.duas.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[2] * visaShare / 100) * (table.duas.visa - maquininhaTable.duas.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[2] * outrosShare / 100) * (table.duas.outros -
          maquininhaTable.duas.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[3] * masterShare / 100) * (table.tres.masterCard -
          maquininhaTable.tres.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[3] * visaShare / 100) * (table.tres.visa - maquininhaTable.tres.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[3] * outrosShare / 100) * (table.tres.outros -
          maquininhaTable.tres.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[4] * masterShare / 100) * (table.quatro.masterCard -
          maquininhaTable.quatro.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[4] * visaShare / 100) * (table.quatro.visa -
          maquininhaTable.quatro.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[4] * outrosShare / 100) * (table.quatro.outros -
          maquininhaTable.quatro.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[5] * masterShare / 100) * (table.cinco.masterCard -
          maquininhaTable.cinco.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[5] * visaShare / 100) * (table.cinco.visa - maquininhaTable.cinco.visa)/100)
          | currency:'BRL' }}</td>
        <td>{{ ((resultados[5] * outrosShare / 100) * (table.cinco.outros -
          maquininhaTable.cinco.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[6] * masterShare / 100) * (table.seis.masterCard -
          maquininhaTable.seis.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[6] * visaShare / 100) * (table.seis.visa - maquininhaTable.seis.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[6] * outrosShare / 100) * (table.seis.outros -
          maquininhaTable.seis.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[7] * masterShare / 100) * (table.sete.masterCard -
          maquininhaTable.sete.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[7] * visaShare / 100) * (table.sete.visa - maquininhaTable.sete.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[7] * outrosShare / 100) * (table.sete.outros -
          maquininhaTable.sete.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[8] * masterShare / 100) * (table.oito.masterCard -
          maquininhaTable.oito.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[8] * visaShare / 100) * (table.oito.visa - maquininhaTable.oito.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[8] * outrosShare / 100) * (table.oito.outros -
          maquininhaTable.oito.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[9] * masterShare / 100) * (table.nove.masterCard -
          maquininhaTable.nove.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[9] * visaShare / 100) * (table.nove.visa - maquininhaTable.nove.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[9] * outrosShare / 100) * (table.nove.outros -
          maquininhaTable.nove.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[10] * masterShare / 100) * (table.dez.masterCard -
          maquininhaTable.dez.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[10] * visaShare / 100) * (table.dez.visa - maquininhaTable.dez.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[10] * outrosShare / 100) * (table.dez.outros - maquininhaTable.dez.outros)/100)
          | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[11] * masterShare / 100) * (table.onze.masterCard -
          maquininhaTable.onze.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[11] * visaShare / 100) * (table.onze.visa - maquininhaTable.onze.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[11] * outrosShare / 100) * (table.onze.outros -
          maquininhaTable.onze.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[12] * masterShare / 100) * (table.doze.masterCard -
          maquininhaTable.doze.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[12] * visaShare / 100) * (table.doze.visa - maquininhaTable.doze.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[12] * outrosShare / 100) * (table.doze.outros -
          maquininhaTable.doze.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[13] * masterShare / 100) * (table.treze.masterCard -
          maquininhaTable.treze.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[13] * visaShare / 100) * (table.treze.visa - maquininhaTable.treze.visa)/100)
          | currency:'BRL' }}</td>
        <td>{{ ((resultados[13] * outrosShare / 100) * (table.treze.outros -
          maquininhaTable.treze.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[14] * masterShare / 100) * (table.quatorze.masterCard -
          maquininhaTable.quatorze.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[14] * visaShare / 100) * (table.quatorze.visa -
          maquininhaTable.quatorze.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[14] * outrosShare / 100) * (table.quatorze.outros -
          maquininhaTable.quatorze.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[15] * masterShare / 100) * (table.quinze.masterCard -
          maquininhaTable.quinze.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[15] * visaShare / 100) * (table.quinze.visa -
          maquininhaTable.quinze.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[15] * outrosShare / 100) * (table.quinze.outros -
          maquininhaTable.quinze.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[16] * masterShare / 100) * (table.dezesseis.masterCard -
          maquininhaTable.dezesseis.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[16] * visaShare / 100) * (table.dezesseis.visa -
          maquininhaTable.dezesseis.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[16] * outrosShare / 100) * (table.dezesseis.outros -
          maquininhaTable.dezesseis.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[17] * masterShare / 100) * (table.dezessete.masterCard -
          maquininhaTable.dezessete.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[17] * visaShare / 100) * (table.dezessete.visa -
          maquininhaTable.dezessete.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[17] * outrosShare / 100) * (table.dezessete.outros -
          maquininhaTable.dezessete.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[18] * masterShare / 100) * (table.dezoito.masterCard -
          maquininhaTable.dezoito.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[18] * visaShare / 100) * (table.dezoito.visa -
          maquininhaTable.dezoito.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[18] * outrosShare / 100) * (table.dezoito.outros -
          maquininhaTable.dezoito.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[19] * masterShare / 100) * (table.dezenove.masterCard -
          maquininhaTable.dezenove.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[19] * visaShare / 100) * (table.dezenove.visa -
          maquininhaTable.dezenove.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[19] * outrosShare / 100) * (table.dezenove.outros -
          maquininhaTable.dezenove.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[20] * masterShare / 100) * (table.vinte.masterCard -
          maquininhaTable.vinte.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[20] * visaShare / 100) * (table.vinte.visa - maquininhaTable.vinte.visa)/100)
          | currency:'BRL' }}</td>
        <td>{{ ((resultados[20] * outrosShare / 100) * (table.vinte.outros -
          maquininhaTable.vinte.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[21] * masterShare / 100) * (table.vinteUm.masterCard -
          maquininhaTable.vinteUm.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[21] * visaShare / 100) * (table.vinteUm.visa -
          maquininhaTable.vinteUm.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[21] * outrosShare / 100) * (table.vinteUm.outros -
          maquininhaTable.vinteUm.outros)/100) | currency:'BRL' }}</td>
      </tr>
    </table>

  </div>
</div>