<div class="tabela-container">
  <div class="tabela">
    <table>
      <tr>
        <th>MARKUP R$ MASTER</th>
        <th>MARKUP R$ VISA</th>
        <th>MARKUP R$ OUTROS</th>
      </tr>
      <tr>
        <td>{{ ((resultados[0] * masterShare / 100) * (table.debito.masterCard -
          taxaCusto.debito.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[0] * visaShare / 100) * (table.debito.visa -
          taxaCusto.debito.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[0] * outrosShare / 100) * (table.debito.outros -
          taxaCusto.debito.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[1] * masterShare / 100) * (table.credito.masterCard -
          taxaCusto.credito.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[1] * visaShare / 100) * (table.credito.visa -
          taxaCusto.credito.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[1] * outrosShare / 100) * (table.credito.outros -
          taxaCusto.credito.outros)/100)| currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[2] * masterShare / 100) * (table.duas.masterCard -
          taxaCusto.duas.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[2] * visaShare / 100) * (table.duas.visa - taxaCusto.duas.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[2] * outrosShare / 100) * (table.duas.outros -
          taxaCusto.duas.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[3] * masterShare / 100) * (table.tres.masterCard -
          taxaCusto.tres.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[3] * visaShare / 100) * (table.tres.visa - taxaCusto.tres.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[3] * outrosShare / 100) * (table.tres.outros -
          taxaCusto.tres.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[4] * masterShare / 100) * (table.quatro.masterCard -
          taxaCusto.quatro.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[4] * visaShare / 100) * (table.quatro.visa -
          taxaCusto.quatro.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[4] * outrosShare / 100) * (table.quatro.outros -
          taxaCusto.quatro.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[5] * masterShare / 100) * (table.cinco.masterCard -
          taxaCusto.cinco.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[5] * visaShare / 100) * (table.cinco.visa - taxaCusto.cinco.visa)/100)
          | currency:'BRL' }}</td>
        <td>{{ ((resultados[5] * outrosShare / 100) * (table.cinco.outros -
          taxaCusto.cinco.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[6] * masterShare / 100) * (table.seis.masterCard -
          taxaCusto.seis.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[6] * visaShare / 100) * (table.seis.visa - taxaCusto.seis.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[6] * outrosShare / 100) * (table.seis.outros -
          taxaCusto.seis.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[7] * masterShare / 100) * (table.sete.masterCard -
          taxaCusto.sete.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[7] * visaShare / 100) * (table.sete.visa - taxaCusto.sete.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[7] * outrosShare / 100) * (table.sete.outros -
          taxaCusto.sete.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[8] * masterShare / 100) * (table.oito.masterCard -
          taxaCusto.oito.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[8] * visaShare / 100) * (table.oito.visa - taxaCusto.oito.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[8] * outrosShare / 100) * (table.oito.outros -
          taxaCusto.oito.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[9] * masterShare / 100) * (table.nove.masterCard -
          taxaCusto.nove.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[9] * visaShare / 100) * (table.nove.visa - taxaCusto.nove.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[9] * outrosShare / 100) * (table.nove.outros -
          taxaCusto.nove.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[10] * masterShare / 100) * (table.dez.masterCard -
          taxaCusto.dez.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[10] * visaShare / 100) * (table.dez.visa - taxaCusto.dez.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[10] * outrosShare / 100) * (table.dez.outros - taxaCusto.dez.outros)/100)
          | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[11] * masterShare / 100) * (table.onze.masterCard -
          taxaCusto.onze.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[11] * visaShare / 100) * (table.onze.visa - taxaCusto.onze.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[11] * outrosShare / 100) * (table.onze.outros -
          taxaCusto.onze.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[12] * masterShare / 100) * (table.doze.masterCard -
          taxaCusto.doze.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[12] * visaShare / 100) * (table.doze.visa - taxaCusto.doze.visa)/100) |
          currency:'BRL' }}</td>
        <td>{{ ((resultados[12] * outrosShare / 100) * (table.doze.outros -
          taxaCusto.doze.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[13] * masterShare / 100) * (table.treze.masterCard -
          taxaCusto.treze.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[13] * visaShare / 100) * (table.treze.visa - taxaCusto.treze.visa)/100)
          | currency:'BRL' }}</td>
        <td>{{ ((resultados[13] * outrosShare / 100) * (table.treze.outros -
          taxaCusto.treze.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[14] * masterShare / 100) * (table.quatorze.masterCard -
          taxaCusto.quatorze.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[14] * visaShare / 100) * (table.quatorze.visa -
          taxaCusto.quatorze.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[14] * outrosShare / 100) * (table.quatorze.outros -
          taxaCusto.quatorze.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[15] * masterShare / 100) * (table.quinze.masterCard -
          taxaCusto.quinze.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[15] * visaShare / 100) * (table.quinze.visa -
          taxaCusto.quinze.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[15] * outrosShare / 100) * (table.quinze.outros -
          taxaCusto.quinze.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[16] * masterShare / 100) * (table.dezesseis.masterCard -
          taxaCusto.dezesseis.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[16] * visaShare / 100) * (table.dezesseis.visa -
          taxaCusto.dezesseis.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[16] * outrosShare / 100) * (table.dezesseis.outros -
          taxaCusto.dezesseis.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[17] * masterShare / 100) * (table.dezessete.masterCard -
          taxaCusto.dezessete.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[17] * visaShare / 100) * (table.dezessete.visa -
          taxaCusto.dezessete.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[17] * outrosShare / 100) * (table.dezessete.outros -
          taxaCusto.dezessete.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[18] * masterShare / 100) * (table.dezoito.masterCard -
          taxaCusto.dezoito.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[18] * visaShare / 100) * (table.dezoito.visa -
          taxaCusto.dezoito.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[18] * outrosShare / 100) * (table.dezoito.outros -
          taxaCusto.dezoito.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[19] * masterShare / 100) * (table.dezenove.masterCard -
          taxaCusto.dezenove.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[19] * visaShare / 100) * (table.dezenove.visa -
          taxaCusto.dezenove.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[19] * outrosShare / 100) * (table.dezenove.outros -
          taxaCusto.dezenove.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[20] * masterShare / 100) * (table.vinte.masterCard -
          taxaCusto.vinte.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[20] * visaShare / 100) * (table.vinte.visa - taxaCusto.vinte.visa)/100)
          | currency:'BRL' }}</td>
        <td>{{ ((resultados[20] * outrosShare / 100) * (table.vinte.outros -
          taxaCusto.vinte.outros)/100) | currency:'BRL' }}</td>
      </tr>
      <tr>
        <td>{{ ((resultados[21] * masterShare / 100) * (table.vinteUm.masterCard -
          taxaCusto.vinteUm.masterCard)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[21] * visaShare / 100) * (table.vinteUm.visa -
          taxaCusto.vinteUm.visa)/100) | currency:'BRL' }}</td>
        <td>{{ ((resultados[21] * outrosShare / 100) * (table.vinteUm.outros -
          taxaCusto.vinteUm.outros)/100) | currency:'BRL' }}</td>
      </tr>
    </table>

  </div>
</div>