<div>
    <table>
        <tr>
            <th>MASTER</th>
            <th>VISA</th>
            <th>OUTROS</th>
        </tr>
        <tr>
            <td>
                <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
                    separatorLimit="10" size="6" maxlength="6" [(ngModel)]="masterShare" (input)="validarPorcentagem()">
            </td>
            <td>
                <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
                    separatorLimit="10" size="6" maxlength="6" [(ngModel)]="visaShare" (input)="validarPorcentagem()">
            </td>
            <td>
                <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
                    separatorLimit="10" size="6" maxlength="6" [(ngModel)]="outrosShare" (input)="validarPorcentagem()">
            </td>
        </tr>
    </table>
</div>