<div class="main-content side-content pt-0">
    <div class="container-fluid">
        <div class="inner-body">
            <div class="row row-sm">
                <div class="col-sm-12 col-lg-12 col-xl-8 mb-4">
                    <div class="row row-sm">
                        <div class="col-sm-12 col-lg-12 col-xl-12">
                            <div class="card bg-primary custom-card card-box bg-escay-sky">
                                <div class="card-body p-4">
                                    <div class="row align-items-center">
                                        <div class="offset-xl-3 offset-sm-6 col-xl-8 col-sm-6 col-12">
                                            <h4 class="d-flex  mb-3">
                                                <span class="font-weight-bold text-white title-size">Olá,
                                                    ESCAPER</span>
                                            </h4>
                                            <p class="tx-white-7 mb-1">Esse
                                                é seu portal de
                                                precificação<br>Cadastre
                                                aqui a taxa que deseja
                                                cobrar de
                                                seus<br>clientes, para
                                                ter acesso a
                                                lucratividade dessa
                                                operação.</p>
                                        </div>
                                        <img src="../../../assets/img/work5.png" alt="user-img" class="wd-200">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-sm">
                <div class="col-sm-12 col-lg-12 col-xl-8 mb-4">
                    <div class="row row-sm">
                        <div class="col-sm-12 col-lg-12 col-xl-12">
                            <div class="card custom-card overflow-hidden">
                                <div class="nome-tabela"><input type="text" class="nome-tabela-input"
                                        [(ngModel)]="table.tableName" placeholder="NOME DA TABELA"></div>
                                <div class="tabela-container">
                                    <div class="tabela">
                                        <table>
                                            <tr class="cabecalho-botao">
                                                <th></th>
                                                <th>
                                                    <button (click)="visaToMaster()" class="copy">Copiar
                                                        de
                                                        Visa</button>
                                                </th>
                                                <th>
                                                    <button (click)="masterToVisa()" class="copy">Copiar
                                                        de
                                                        MasterCard</button>
                                                </th>
                                                <th>
                                                    <button (click)="masterToOutros()" class="copy">Copiar
                                                        de
                                                        MasterCard</button>
                                                </th>
                                            </tr>
                                            <tr class="cabecalho-botao">
                                                <th></th>
                                                <th>
                                                    <button (click)="outrosToMaster()" class="copy">Copiar
                                                        de
                                                        Outros</button>
                                                </th>
                                                <th>
                                                    <button (click)="outrosToVisa()" class="copy">Copiar
                                                        de
                                                        Outros</button>
                                                </th>
                                                <th>
                                                    <button (click)="visaToOutros()" class="copy">Copiar
                                                        de
                                                        Visa</button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Forma de Pagamento</th>
                                                <th>MasterCard</th>
                                                <th>Visa</th>
                                                <th>Outros</th>
                                            </tr>
                                            <tr>
                                                <td class="celulas">Débito</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.debito.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.debito.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.debito.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">Crédito</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.credito.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.credito.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.credito.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">2x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.duas.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.duas.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.duas.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">3x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.tres.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.tres.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.tres.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">4x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.quatro.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.quatro.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.quatro.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">5x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.cinco.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.cinco.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.cinco.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">6x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.seis.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.seis.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.seis.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">7x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.sete.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.sete.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.sete.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">8x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.oito.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.oito.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.oito.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">9x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.nove.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.nove.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.nove.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">10x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dez.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dez.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dez.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">11x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.onze.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.onze.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.onze.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">12x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.doze.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.doze.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.doze.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">13x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.treze.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.treze.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.treze.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">14x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.quatorze.masterCard"
                                                        maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.quatorze.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.quatorze.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">15x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.quinze.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.quinze.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.quinze.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">16x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dezesseis.masterCard"
                                                        maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dezesseis.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dezesseis.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">17x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dezessete.masterCard"
                                                        maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dezessete.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dezessete.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">18x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dezoito.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dezoito.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dezoito.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">19x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dezenove.masterCard"
                                                        maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dezenove.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.dezenove.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">20x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.vinte.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.vinte.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.vinte.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="celulas">21x</td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.vinteUm.masterCard" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.vinteUm.visa" maxlength="6" />
                                                </td>
                                                <td class="celulas"><input mask="separator.2" suffix="%"
                                                        thousandSeparator="." [decimalMarker]="','" separatorLimit="10"
                                                        size="6" [(ngModel)]="table.vinteUm.outros" maxlength="6" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="buttons-container">
                                        <div class="buttons-container-space">
                                            <button mat-raised-buton (click)="salvarTabela()" class="salvar">
                                                Salvar
                                                <mat-icon class="icon_save">done</mat-icon>
                                            </button>
                                        </div>
                                        <div class="buttons-container-space">
                                            <button mat-raised-buton (click)="cancel()" class="cancelar">
                                                Cancelar
                                                <mat-icon class="icon_close">close</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>