<mat-sidenav-container class="sidenav-container" [class.sidenav-closed]="!(isHandset$ | async)">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <div class="SideNavButton">
        <a routerLink="/">
          <img class="nav-logo" src="assets/img/escapay-light.png" alt="logo">
        </a>
        <a mat-list-item routerLink="/">
          <i class="material-icons">
            home
          </i>
          <span class="estiloBotao">
            Início
          </span>
        </a>
      </div>
      <div class="SideNavButton">
        <a mat-list-item routerLink="tabela">
          <i class="material-icons">
            storefront
          </i>
          <span class="estiloBotao">
            Criar Tabela
          </span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="conteudo-central">
    <mat-toolbar class="header mat-elevation-z1">
      <div class="logo-container">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon" class="menu-button">menu</mat-icon>
        </button>
        <div class="logo">
          <a routerLink="/">
            <img class="logo" src="assets/img/escapay.png" alt="logo">
          </a>
        </div>
      </div>
    </mat-toolbar>
    <div class="router-container-with-margin">
      <router-outlet class="router-container"></router-outlet>
    </div>
    <escapay-footer class="escapay-footer"></escapay-footer>
  </mat-sidenav-content>
</mat-sidenav-container>