.header {
    display: flex;
    align-items: center;
    background-color: #a1bf37;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 4.5rem;
}

.title-group{
    padding-left: 20px;
    font-size:x-large;
    font-weight: bold;
    
}

.title-group a{
    color:black;
}