<div class="main-content side-content pt-0">
    <div class="container-fluid">
        <div class="inner-body">
            <!-- <div class="page-header">
                <div>
                    <h2 class="main-content-title tx-24 mg-b-5">Dashboard</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Painel</li>
                    </ol>
                </div>
            </div> -->
            <div class="row row-sm">
                <div class="col-sm-12 col-lg-12 col-xl-8 mb-4">
                    <div class="row row-sm">
                        <div class="col-sm-12 col-lg-12 col-xl-12">
                            <div class="card bg-primary custom-card card-box bg-escay-sky">
                                <div class="card-body p-4">
                                    <div class="row align-items-center">
                                        <div class="offset-xl-3 offset-sm-6 col-xl-8 col-sm-6 col-12">
                                            <h4 class="d-flex  mb-3">
                                                <span class="font-weight-bold text-white ">Olá, ESCAPER</span>
                                            </h4>
                                            <p class="tx-white-7 mb-1">Esse é seu portal de precificação<br>Cadastre aqui a taxa que deseja cobrar de seus<br>clientes, para ter acesso a lucratividade dessa operação.</p>
                                        </div>
                                        <img src="../../../assets/img/work5.png" alt="user-img" class="wd-200">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-lg-12 col-xl-12 teste">
                <div class="card custom-card overflow-hidden">
                    <mat-card class="card-header border-bottom-0">
                        <mat-card-title class="main-content-label mb-2">Tabelas TPV</mat-card-title>
                    </mat-card>
                    <div mat-list-item class="menu mat-elevation-z1">
                        <escapay-tabela-read></escapay-tabela-read>
                    </div>
                    <div class="button">
                        <escapay-create></escapay-create>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>