<div class="container">
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">Tabelas TPV</mat-card-title>
        <mat-card-subtitle class="subtitle">
            
        </mat-card-subtitle>
    </mat-card>
    
    <!-- <div class="button" *ngIf="mostrarMenu">
        <a mat-list-item class="menu mat-elevation-z3" routerLink="tabela">
            <escapay-tabela-create></escapay-tabela-create>
        </a>
    </div> -->
    <div mat-list-item class="menu mat-elevation-z3">
        <escapay-tabela-read></escapay-tabela-read>
    </div>

    <div class="button">
        <escapay-create></escapay-create>
    </div>

</div>
