/* @media screen and (min-width: 401px){
.header{
    text-align: left;
}

.title{
    font-size: 24px;
    margin-bottom: 19px;
    color: #170c6b;
    margin-left: 8px;
}
.alinhamento{
    display: flex;
    flex:1;
    position: relative;
    width: 65%;
    height: 13%;
    border-radius: 11px;
    overflow: hidden;
    margin-left: 8px;

}

.background-container {
    background-image: url('../../../assets/img/bg-escay-sky.jpg'); 
    background-position: center;
    width: 100%;
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-size: 24px;
    border-radius: 11px;
    position: relative;
}

.escay{
    position: absolute;
    bottom: -3px;
    left: -3px;
    width: 200px;
}
}
@media screen and (max-width: 400px) {
    .header{
        text-align: left;
    }
    
    .title{
        font-size: 24px;
        margin-bottom: 19px;
        color: #170c6b;
        margin-left: 0px;
    }

    .alinhamento{
        display: flex;
        flex:1;
        position: relative;
        width: 65%;
        height: 13%;
        border-radius: 11px;
        overflow: hidden;
        margin-left: 8px;
    
    }
    .background-container {
        background-image: url('../../../assets/img/bg-escay-sky.jpg'); 
        background-position: center;
        width: 100%;
        flex-grow: 1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        font-size: 24px;
        border-radius: 11px;
        position: relative;
    }
    .alinhamento {
        flex-direction: row;
        height: auto;
    }

    .escay {
        width: 100%;
        margin-left: 5px; 
        margin-bottom: 5px; 
    }
} */

.home {
    height: 100%;
}

.home .container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.5;
    padding: 1rem;
    text-align: center;
    font-feature-settings: "liga" 0;
    font-family: 'Roboto', sans-serif !important;

}

.home .subtitle {
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
}

.home .container {
    flex: 1;

}

.button {
    justify-content: center;
    display: flex;
    background: none;
    margin-top: 10px;
    height: 100%;
}

.button .menu {
    padding: 0;
    margin: 0 1rem;
}

.espacamento {
    padding: 10px;
}