@media (min-width: 992px) {
    .main-content.side-content {
        margin-left: 240px;
    }
}

.main-content.side-content {
	-webkit-transition: margin-left 0.3s ease;
	transition: margin-left 0.3s ease;
}
.main-content .container, .main-content .container-fluid {
	padding-left: 25px;
	padding-right: 25px;
}

.container, .container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 992px) {
    .main-content.side-content {
      padding-top: 63px;
    }
  }

  .main-content.side-content {
	transition: none;
	border-radius: 0;
	padding: 0px;
	padding-bottom: 0;
	bottom: 0;
	position: relative;
	height: 100%;
}

.main-content-title {
	color: #170c6b;
	font-weight: 500;
	font-size: 32px;
	text-indent: -1px;
	line-height: 1;
	position: relative;
	margin-bottom: 20px;
}

.main-content-label, .card-table-two .card-title, .card-dashboard-eight .card-title {
	color: #1d212f !important;
	font-weight: bold !important;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 10px;
	letter-spacing: .2px;
}
.mb-2, .my-2 {
	margin-bottom: 0.5rem !important;
}

.main-content-label {
	font-weight: 500;
	color: #3c4858;
	font-size: 14px;
	margin-bottom: 0rem;
	line-height: 1;
}

.page-header {
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin: 1.5rem 0 1.5rem;
	-ms-flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	position: relative;
	min-height: 50px;
	margin: 1.8rem 0 1.5rem 0;
	border-radius: 7px;
}

@media (min-width: 1200px) {
    .side-content {
      margin-left: 240px;
    }
  }

  @media (min-width: 992px) {
    .main-content {
      padding-top: 58px;
      padding-top: 58px;
    }
  }

  .pt-0, .py-0 {
	padding-top: 0 !important;
}

.row-sm {
    margin-left: -10px;
    margin-right: -10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

* {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

div {
    display: block;
}

.row-sm>div {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 1200px) {
    .col-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

@media (min-width: 992px) {
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px){
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px){
    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 66.66667%;
    }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}


.bg-escay-sky {
    background-image: url('../../../assets/img/bg-escay-sky.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-primary {
    background-color: #87a12d !important;
}
.custom-card {
    -webkit-box-shadow: 0 10px 30px 0 rgba(24, 28, 33, 0.05);
    box-shadow: 0 10px 30px 0 rgba(24, 28, 33, 0.05);
}
.bg-primary {
    background-color: #87a12d !important;
}
.custom-card {
    -webkit-box-shadow: 0 10px 30px 0 rgba(24, 28, 33, 0.05);
    box-shadow: 0 10px 30px 0 rgba(24, 28, 33, 0.05);
}
.custom-card {
    margin-bottom: 20px;
    border: 0;
    box-shadow: -7.829px 11.607px 20px 0px #e4e3f5;
}
.card {
    border-radius: 11px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e8e8f7;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 11px;
}

.card-header, .card-footer {
	position: relative;
	border-color: #f0f0ff;
	padding-left: 25px;
	padding-right: 25px;
}

.card-header {
	padding: 20px 25px 0 25px;
	margin-bottom: 0;
	border-bottom: 1px solid #e8e8f7;
	background: transparent;
}

.p-4 {
    padding: 1.5rem !important;
}

.card-body {
    flex: 1 1 auto;
    padding: 25px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.align-items-center {
    align-items: center !important;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

@media (min-width: 1200px){
    .offset-xl-3 {
        margin-left: 25%;
    }
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.d-flex {
    display: flex !important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
h4 {
    color: #a1bf37;
}

h4, .h4 {
    font-size: 1.3125rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.text-white {
    color: #ffffff !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.tx-white-7 {
    color: rgba(255, 255, 255, 0.7);
}
.mb-1, .my-1 {
    margin-bottom: 0.25rem !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.card-box img {
    position: absolute;
    bottom: -3px;
    left: -3px;
}

.wd-200 {
    width: 200px;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.card-header:first-child {
	border-radius: calc(3px - 1px) calc(3px - 1px) 0 0;
	border-radius: 11px 11px 0 0;
}

.border-bottom-0 {
	border-bottom: 0 !important;
}


.home .container {
    flex: 1;
    height: 100%;
    display: flex;
    text-align: center;

}
.container {
    width: 500px;
    height: 500px;
    flex: 1;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
}

.home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.5;
    padding: 1rem;
    text-align: center;
    font-feature-settings: "liga" 0;
    font-family: 'Roboto', sans-serif !important;
}

.home .container {
    flex: 1;

}

.button {
    justify-content: center;
    display: flex;
    background: none;
    margin-top: 10px;
    height: 100%;
    
}

.button .menu {
    padding: 0;
    margin: 0 1rem;
}
