<div class="tabela-container">
    <div class="tabela">
        <table>
            <tr>
                <th>Share TPV (%)</th>
                <th>Share TPV (R$)</th>
            </tr>
            <tr>
                <td>50,16%</td>
                <td></td>
            </tr>
            <tr>
                <td>11,57%</td>
                <td></td>
            </tr>
            <tr>
                <td>6,45%</td>
                <td></td>
            </tr>
            <tr>
                <td>7,75%</td>
                <td></td>
            </tr>
            <tr>
                <td>5,07%</td>
                <td></td>
            </tr>
            <tr>
                <td>3,96%</td>
                <td></td>
            </tr>
            <tr>
                <td>3,96%</td>
                <td></td>
            </tr>
            <tr>
                <td>1,15%</td>
                <td></td>
            </tr>
            <tr>
                <td>1,57%</td>
                <td></td>
            </tr>
            <tr>
                <td>0,41%</td>
                <td></td>
            </tr>
            <tr>
                <td>3,78%</td>
                <td></td>
            </tr>
            <tr>
                <td>0,09%</td>
                <td></td>
            </tr>
            <tr>
                <td>4,06%</td>
                <td></td>
            </tr>
            <tr>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td>0</td>
                <td></td>
            </tr>
        </table>

    </div>
</div>