.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.align-items-center {
  align-items: center !important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row-sm {
  margin-left: -10px;
  margin-right: -10px;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 86px;
  padding-left: 46px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .offset-sm-6 {
    margin-left: 50%;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.row-sm>div {
  padding-left: 10px;
  padding-right: 10px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

@media (min-width: 992px) {
  .main-content {
    padding-top: 58px;
    padding-top: 58px;
  }
}

@media (min-width: 1200px) {
  .side-content {
    margin-left: 240px;
  }
}

.main-content.side-content {
  transition: none;
  border-radius: 0;
  padding: 0px;
  padding-bottom: 0;
  bottom: 0;
  position: relative;
  height: 100%;
}

@media (min-width: 992px) {
  .main-content.side-content {
    padding-top: 63px;
  }
}

.main-content.side-content {
  -webkit-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}

@media (max-width: 991px) and (min-width: 767px) {
  .main-body.leftmenu .main-content.side-content {
    margin-top: 60px;
  }
}

@media (min-width: 992px) {
  .main-content.side-content {
    margin-left: 240px;
  }
}

@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

@media (min-width: 1200px) {
  .offset-xl-3 {
    margin-left: 28%;
  }
}

.main-content .container,
.main-content .container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.main-content-title {
  font-weight: 500;
  font-size: 32px;
  text-indent: -1px;
  line-height: 1;
  position: relative;
  margin-bottom: 20px;
}

.main-content-label,
.card-table-two .card-title,
.card-dashboard-eight .card-title {
  color: #1d212f !important;
  font-weight: bold !important;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
  letter-spacing: .2px;
}


.main-content-label {
  font-weight: 500;
  color: #3c4858;
  font-size: 14px;
  margin-bottom: 0rem;
  line-height: 1;
}

.page-header {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 1.5rem 0 1.5rem;
  -ms-flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  position: relative;
  min-height: 50px;
  margin: 1.8rem 0 1.5rem 0;
  border-radius: 7px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 11px;
}

.card {
  border-radius: 11px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid #e8e8f7;
}

.custom-card {
  margin-bottom: 20px;
  border: 0;
}

.bg-primary {
  background-color: #87a12d !important;
}

.bg-primary {
  background-color: #87a12d !important;
}

.bg-escay-sky {
  background-image: url('../../../../assets/img/bg-escay-sky.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-header,
.card-footer {
  position: relative;
  border-color: #f0f0ff;
  padding-left: 25px;
  padding-right: 25px;
}

.card-header {
  padding: 20px 25px 0 25px;
  margin-bottom: 0;
  border-bottom: 1px solid #e8e8f7;
  background: transparent;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 25px;
}

.p-4 {
  padding: 1.5rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h4,
.h4 {
  font-size: 1.3125rem;
}

h4 {
  color: #a1bf37;
}

.d-flex {
  display: flex !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.title-size {
  font-size: 1.3125rem;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
  font-size: 0.875rem !important;
  font-weight: 400;
}

.text-white {
  color: #ffffff !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.tx-white-7 {
  color: rgba(255, 255, 255, 0.7);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (max-width: 575px) {
  .card-box img {
    position: relative !important;
    bottom: -27px !important;
    left: -14px !important;
  }
}

.card-box img {
  position: absolute;
  bottom: -3px;
  left: -3px;
}

.wd-200 {
  width: 200px;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

img {
  vertical-align: middle;
  border-style: none;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

.card-header:first-child {
  border-radius: calc(3px - 1px) calc(3px - 1px) 0 0;
  border-radius: 11px 11px 0 0;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.nome-tabela {
  text-align: center;
  margin-top: 30px;
}

.nome-tabela-input {
  width: 400px;
  text-align: left !important;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: right;
}

.copy {
  align-items: center;
  appearance: none;
  background-color: rgb(135, 161, 45);
  border-radius: 3px;
  border-width: 0;
  box-shadow: rgba(83, 118, 46, 0.4) 0 2px 4px, rgba(104, 183, 47, 0.3) 0 7px 13px -3px, rgb(213, 231, 196) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 12px;
}

.copy:focus {
  box-shadow: rgba(83, 118, 46, 0.4) 0 0 0 1.5px inset, rgba(104, 183, 47, 0.3) 0 2px 4px, rgb(213, 231, 196) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.copy:hover {
  box-shadow: #8a757f 0 4px 8px, #c9a0b2 0 7px 13px -3px, #ecbed2 0 -3px 0 inset;
  transform: translateY(-2px);
  background-color: #ef9bbf;
}

.copy:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* table {
  width: 10%;
} */

th {
  text-align: center;
  color: #000000;
  padding: 0.7rem;
  font-size: 1rem;
}

.celulas {
  text-align: center;
  padding: 1px;
  justify-content: center;
  align-items: center;
}


tr:nth-child(even) {
  background-color: #f4f2f2;
}

.cabecalho-botao {
  background-color: #fafafa !important;
  text-align: center;
}


input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* Safari e Chrome */
  margin: 0;
}

.icon_save {
  font-size: 1.2rem;
  vertical-align: middle;
}

.icon_close {
  font-size: 1.2rem;
  vertical-align: middle;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons-container-space {
  padding: 30px;
}

.salvar {
  display: table-cell;
  background-color: rgb(135, 161, 45);
  border-radius: 3px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
  width: 110px;
  min-width: 120px;
  line-height: 20px;
  margin: 8px 8px 8px 0;
  font-weight: 600;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
}

.salvar:hover {
  background-color: #ef9bbf;
}

.cancelar {
  display: table-cell;
  background-color: rgb(165, 18, 18);
  border-radius: 3px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
  width: 131px;
  line-height: 20px;
  margin: 8px 8px 8px 0;
  font-weight: 600;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
}

.cancelar:hover {
  background-color: #ef9bbf;
}