table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    text-decoration: underline;
  }

  .edit {
    margin-right:10px ;
  }

  .edit > i {
    color: #a1bf37
  }

  .delete > i {
    color: #e35e6b;
  }