<div class="tabela-container">
  <div *ngIf="maquininhaTable" class="tabela">
    <table>
      <tr>
        <th>TAXA DE CUSTO
          <img class="nav-master" src="assets/img/master.png" alt="logo">
        </th>
        <th>TAXA DE CUSTO
          <img class="nav-visa" src="assets/img/visa.png" alt="logo">

        </th>
        <th>TAXA DE CUSTO
          <img class="nav-outros" src="assets/img/outros.png" alt="logo">

        </th>
      </tr>
      <tr>
        <td>{{maquininhaTable.debito.masterCard}}%</td>
        <td>{{maquininhaTable.debito.visa }}%</td>
        <td>{{maquininhaTable.debito.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.credito.masterCard}}%</td>
        <td>{{maquininhaTable.credito.visa}}%</td>
        <td>{{maquininhaTable.credito.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.duas.masterCard}}%</td>
        <td>{{maquininhaTable.duas.visa}}%</td>
        <td>{{maquininhaTable.duas.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.tres.masterCard}}%</td>
        <td>{{maquininhaTable.tres.visa}}%</td>
        <td>{{maquininhaTable.tres.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.quatro.masterCard}}%</td>
        <td>{{maquininhaTable.quatro.visa}}%</td>
        <td>{{maquininhaTable.quatro.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.cinco.masterCard}}%</td>
        <td>{{maquininhaTable.cinco.visa}}%</td>
        <td>{{maquininhaTable.cinco.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.seis.masterCard}}%</td>
        <td>{{maquininhaTable.seis.visa}}%</td>
        <td>{{maquininhaTable.seis.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.sete.masterCard}}%</td>
        <td>{{maquininhaTable.sete.visa}}%</td>
        <td>{{maquininhaTable.sete.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.oito.masterCard}}%</td>
        <td>{{maquininhaTable.oito.visa}}%</td>
        <td>{{maquininhaTable.oito.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.nove.masterCard}}%</td>
        <td>{{maquininhaTable.nove.visa}}%</td>
        <td>{{maquininhaTable.nove.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.dez.masterCard}}%</td>
        <td>{{maquininhaTable.dez.visa}}%</td>
        <td>{{maquininhaTable.dez.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.onze.masterCard}}%</td>
        <td>{{maquininhaTable.onze.visa}}%</td>
        <td>{{maquininhaTable.onze.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.doze.masterCard}}%</td>
        <td>{{maquininhaTable.doze.visa}}%</td>
        <td>{{maquininhaTable.doze.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.treze.masterCard}}%</td>
        <td>{{maquininhaTable.treze.visa}}%</td>
        <td>{{maquininhaTable.treze.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.quatorze.masterCard}}%</td>
        <td>{{maquininhaTable.quatorze.visa}}%</td>
        <td>{{maquininhaTable.quatorze.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.quinze.masterCard}}%</td>
        <td>{{maquininhaTable.quinze.visa}}%</td>
        <td>{{maquininhaTable.quinze.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.dezesseis.masterCard}}%</td>
        <td>{{maquininhaTable.dezesseis.visa}}%</td>
        <td>{{maquininhaTable.dezesseis.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.dezessete.masterCard}}%</td>
        <td>{{maquininhaTable.dezessete.visa}}%</td>
        <td>{{maquininhaTable.dezessete.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.dezoito.masterCard}}%</td>
        <td>{{maquininhaTable.dezoito.visa}}%</td>
        <td>{{maquininhaTable.dezoito.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.dezenove.masterCard}}%</td>
        <td>{{maquininhaTable.dezenove.visa}}%</td>
        <td>{{maquininhaTable.dezenove.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.vinte.masterCard}}%</td>
        <td>{{maquininhaTable.vinte.visa}}%</td>
        <td>{{maquininhaTable.vinte.outros}}%</td>
      </tr>
      <tr>
        <td>{{maquininhaTable.vinteUm.masterCard}}%</td>
        <td>{{maquininhaTable.vinteUm.visa}}%</td>
        <td>{{maquininhaTable.vinteUm.outros}}%</td>
      </tr>
    </table>
  </div>
</div>