<div class="tabela-container">
    <div class="tabela">
        <table>
            <tr>
                <th>TAXA DE CUSTO MASTER</th>
                <th>TAXA DE CUSTO VISA</th>
                <th>TAXA DE CUSTO OUTROS</th>
            </tr>
              <tr>
                <td>{{taxaCusto.debito.masterCard}}%</td>
                <td>{{taxaCusto.debito.visa }}%</td>
                <td>{{taxaCusto.debito.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.credito.masterCard}}%</td>
                <td>{{taxaCusto.credito.visa}}%</td>
                <td>{{taxaCusto.credito.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.duas.masterCard}}%</td>
                <td>{{taxaCusto.duas.visa}}%</td>
                <td>{{taxaCusto.duas.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.tres.masterCard}}%</td>
                <td>{{taxaCusto.tres.visa}}%</td>
                <td>{{taxaCusto.tres.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.quatro.masterCard}}%</td>
                <td>{{taxaCusto.quatro.visa}}%</td>
                <td>{{taxaCusto.quatro.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.cinco.masterCard}}%</td>
                <td>{{taxaCusto.cinco.visa}}%</td>
                <td>{{taxaCusto.cinco.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.seis.masterCard}}%</td>
                <td>{{taxaCusto.seis.visa}}%</td>
                <td>{{taxaCusto.seis.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.sete.masterCard}}%</td>
                <td>{{taxaCusto.sete.visa}}%</td>
                <td>{{taxaCusto.sete.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.oito.masterCard}}%</td>
                <td>{{taxaCusto.oito.visa}}%</td>
                <td>{{taxaCusto.oito.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.nove.masterCard}}%</td>
                <td>{{taxaCusto.nove.visa}}%</td>
                <td>{{taxaCusto.nove.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.dez.masterCard}}%</td>
                <td>{{taxaCusto.dez.visa}}%</td>
                <td>{{taxaCusto.dez.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.onze.masterCard}}%</td>
                <td>{{taxaCusto.onze.visa}}%</td>
                <td>{{taxaCusto.onze.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.doze.masterCard}}%</td>
                <td>{{taxaCusto.doze.visa}}%</td>
                <td>{{taxaCusto.doze.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.treze.masterCard}}%</td>
                <td>{{taxaCusto.treze.visa}}%</td>
                <td>{{taxaCusto.treze.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.quatorze.masterCard}}%</td>
                <td>{{taxaCusto.quatorze.visa}}%</td>
                <td>{{taxaCusto.quatorze.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.quinze.masterCard}}%</td>
                <td>{{taxaCusto.quinze.visa}}%</td>
                <td>{{taxaCusto.quinze.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.dezesseis.masterCard}}%</td>
                <td>{{taxaCusto.dezesseis.visa}}%</td>
                <td>{{taxaCusto.dezesseis.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.dezessete.masterCard}}%</td>
                <td>{{taxaCusto.dezessete.visa}}%</td>
                <td>{{taxaCusto.dezessete.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.dezoito.masterCard}}%</td>
                <td>{{taxaCusto.dezoito.visa}}%</td>
                <td>{{taxaCusto.dezoito.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.dezenove.masterCard}}%</td>
                <td>{{taxaCusto.dezenove.visa}}%</td>
                <td>{{taxaCusto.dezenove.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.vinte.masterCard}}%</td>
                <td>{{taxaCusto.vinte.visa}}%</td>
                <td>{{taxaCusto.vinte.outros}}%</td>
              </tr>
              <tr>
                <td>{{taxaCusto.vinteUm.masterCard}}%</td>
                <td>{{taxaCusto.vinteUm.visa}}%</td>
                <td>{{taxaCusto.vinteUm.outros}}%</td>
              </tr>
        </table>

    </div>
</div>