  <div class="tabela-container">
    <div class="tabela">
      <table>
        <tr>
          <th>Custo Loja MasterCard</th>
          <th>Custo Loja Visa</th>
          <th>Custo Loja Outros</th>
        </tr>
        <tr>
          <td>{{ table.debito.masterCard}}%</td>
          <td>{{ table.debito.visa }}%</td>
          <td>{{ table.debito.outros }}%</td>
        </tr>
        <tr>
          <td>{{table.credito.masterCard}}%</td>
          <td>{{table.credito.visa}}%</td>
          <td>{{table.credito.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.duas.masterCard}}%</td>
          <td>{{table.duas.visa}}%</td>
          <td>{{table.duas.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.tres.masterCard}}%</td>
          <td>{{table.tres.visa}}%</td>
          <td>{{table.tres.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.quatro.masterCard}}%</td>
          <td>{{table.quatro.visa}}%</td>
          <td>{{table.quatro.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.cinco.masterCard}}%</td>
          <td>{{table.cinco.visa}}%</td>
          <td>{{table.cinco.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.seis.masterCard}}%</td>
          <td>{{table.seis.visa}}%</td>
          <td>{{table.seis.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.sete.masterCard}}%</td>
          <td>{{table.sete.visa}}%</td>
          <td>{{table.sete.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.oito.masterCard}}%</td>
          <td>{{table.oito.visa}}%</td>
          <td>{{table.oito.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.nove.masterCard}}%</td>
          <td>{{table.nove.visa}}%</td>
          <td>{{table.nove.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.dez.masterCard}}%</td>
          <td>{{table.dez.visa}}%</td>
          <td>{{table.dez.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.onze.masterCard}}%</td>
          <td>{{table.onze.visa}}%</td>
          <td>{{table.onze.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.doze.masterCard}}%</td>
          <td>{{table.doze.visa}}%</td>
          <td>{{table.doze.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.treze.masterCard}}%</td>
          <td>{{table.treze.visa}}%</td>
          <td>{{table.treze.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.quatorze.masterCard}}%</td>
          <td>{{table.quatorze.visa}}%</td>
          <td>{{table.quatorze.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.quinze.masterCard}}%</td>
          <td>{{table.quinze.visa}}%</td>
          <td>{{table.quinze.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.dezesseis.masterCard}}%</td>
          <td>{{table.dezesseis.visa}}%</td>
          <td>{{table.dezesseis.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.dezessete.masterCard}}%</td>
          <td>{{table.dezessete.visa}}%</td>
          <td>{{table.dezessete.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.dezoito.masterCard}}%</td>
          <td>{{table.dezoito.visa}}%</td>
          <td>{{table.dezoito.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.dezenove.masterCard}}%</td>
          <td>{{table.dezenove.visa}}%</td>
          <td>{{table.dezenove.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.vinte.masterCard}}%</td>
          <td>{{table.vinte.visa}}%</td>
          <td>{{table.vinte.outros}}%</td>
        </tr>
        <tr>
          <td>{{table.vinteUm.masterCard}}%</td>
          <td>{{table.vinteUm.visa}}%</td>
          <td>{{table.vinteUm.outros}}%</td>
        </tr>
      </table>
    </div>
  </div>