<div class="admin-page">
    <h2>Administração de Usuários</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ativo</th>
                <th>Último Login</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <span *ngIf="user.active" class="active-icon">
                        <mat-icon class="green">check_circle</mat-icon>
                    </span>
                    <span *ngIf="!user.active" class="inactive-icon">
                        <mat-icon class="red">cancel</mat-icon>
                    </span>
                </td>
                <td>{{ user.lastLogin | date: 'medium' }}</td>
                <td>
                    <div class="action-buttons-container">
                        <button class="table-button delete-button" (click)="deleteUser(user._id)">Excluir</button>
                        <button class="table-button toggle-button" (click)="toggleUserStatus(user._id, user.active)">
                            {{ user.active ? 'Desativar' : 'Ativar' }}
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>