<div class="admin-page">
    <h2>Administração de Usuários</h2>
    <table>
        <thead>
            <tr>
                <th (click)="toggleSortDirection('name')">Nome <span
                        [class]="sortDirection === 'asc' && sortColumn === 'name' ? 'arrow-up' : 'arrow-down'"></span>
                </th>
                <th (click)="toggleSortDirection('email')">Email <span
                        [class]="sortDirection === 'asc' && sortColumn === 'email' ? 'arrow-up' : 'arrow-down'"></span>
                </th>
                <th (click)="toggleSortDirection('active')">Ativo <span
                        [class]="sortDirection === 'asc' && sortColumn === 'active' ? 'arrow-up' : 'arrow-down'"></span>
                </th>
                <th (click)="toggleSortDirection('lastLogin')">Último Login <span
                        [class]="sortDirection === 'asc' && sortColumn === 'lastLogin' ? 'arrow-up' : 'arrow-down'"></span>
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of getCurrentPageItems()">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <span *ngIf="user.active" class="active-icon">
                        <mat-icon class="green">check_circle</mat-icon>
                    </span>
                    <span *ngIf="!user.active" class="inactive-icon">
                        <mat-icon class="red">cancel</mat-icon>
                    </span>
                </td>
                <td>{{ user.lastLogin | date: 'medium' }}</td>
                <td>
                    <div class="action-buttons-container">
                        <button class="table-button delete-button" (click)="deleteUser(user._id)">Excluir</button>
                        <button class="table-button toggle-button" (click)="toggleUserStatus(user._id, user.active)">
                            {{ user.active ? 'Desativar' : 'Ativar' }}
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <button mat-button *ngIf="!isFirstPage() && getTotalPages() > 1" (click)="changePage('prev')">
            Anterior
        </button>
        <span *ngIf="getTotalPages() > 1">Página {{ currentPage }} de {{ getTotalPages() }}</span>
        <button mat-button *ngIf="currentPage < getTotalPages() && getTotalPages() > 1" (click)="changePage('next')">
            Próxima
        </button>
    </div>

</div>