.footer { 
    color: white; 
    text-align: center;
    font-size: 12px;
}

.footer > span {
    font-size: 12px;
    font-weight: 300;
    padding: 8px;
    display: block;
    text-align: center;
}