body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .button {
    display: table-cell;
    background-color: rgb(135, 161, 45) !important;
    border-radius: 3px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    height: 40px;
    width: 130px;
    min-width: 120px;
    line-height: 20px;
    margin: 8px 8px 8px 0;
    font-weight: 600;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
  }
  
  .button:hover,
  .button:focus {
    background-color: #ef9bbf !important;
  }
  
  .padding{
    padding-top: 0.5rem;
  }