<form (ngSubmit)="changePassword()">
    <mat-form-field appearance="fill">
        <mat-label>Senha Atual</mat-label>
        <input matInput type="password" [attr.type]="hideCurrent ? 'password' : 'text'" [(ngModel)]="currentPassword"
            name="currentPassword">
        <button mat-icon-button (click)="toggleVisibility('current', $event)"
            [attr.aria-label]="'Toggle password visibility'" matSuffix>
            <mat-icon>{{ hideCurrent ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Nova Senha</mat-label>
        <input matInput type="password" [attr.type]="hideNew ? 'password' : 'text'" [(ngModel)]="newPassword"
            name="newPassword">
        <button mat-icon-button (click)="toggleVisibility('new', $event)"
            [attr.aria-label]="'Toggle password visibility'" matSuffix>
            <mat-icon>{{ hideNew ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Confirmar Nova Senha</mat-label>
        <input matInput type="password" [attr.type]="hideConfirm ? 'password' : 'text'" [(ngModel)]="confirmPassword"
            name="confirmPassword">
        <button mat-icon-button (click)="toggleVisibility('confirm', $event)"
            [attr.aria-label]="'Toggle password visibility'" matSuffix>
            <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    </mat-form-field>
    <div class="button_container">
        <button class="button" mat-raised-button type="submit">Alterar Senha</button>
    </div>
</form>