<div class="tabela-container">
    <div class="tabela">
        <table class="tabela">
                <tr>
                    <th>Share Master</th>
                    <th>Share Visa</th>
                    <th>Share Outros</th>
            </tr>
            <tr>
                <td>{{ (resultados[0] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[0] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[0] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[1] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[1] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[1] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[2] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[2] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[2] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[3] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[3] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[3] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[4] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[4] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[4] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[5] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[5] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[5] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[6] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[6] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[6] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[7] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[7] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[7] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[8] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[8] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[8] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[9] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[9] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[9] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[10] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[10] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[10] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[11] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[11] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[11] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[12] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[12] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[12] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[13] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[13] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[13] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[14] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[14] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[14] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[15] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[15] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[15] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[16] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[16] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[16] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[17] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[17] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[17] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[18] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[18] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[18] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[19] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[19] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[19] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[20] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[20] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[20] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[21] * percent50 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[21] * percent38 / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[21] * percent12 / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
        </table>

    </div>
</div>