<div class="tabela-container">
    <div class="tabela">
        <table class="tabela">
            <tr>
                <th>SHARE
                    <img class="nav-master" src="assets/img/master.png" alt="logo">
                </th>
                <th>SHARE
                    <img class="nav-visa" src="assets/img/visa.png" alt="logo">
                </th>
                <th>SHARE
                    <img class="nav-outros" src="assets/img/outros.png" alt="logo">
                </th>
            </tr>
            <tr>
                <td>{{ (resultados[0] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[0] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[0] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[1] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[1] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[1] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[2] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[2] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[2] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[3] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[3] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[3] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[4] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[4] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[4] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[5] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[5] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[5] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[6] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[6] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[6] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[7] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[7] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[7] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[8] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[8] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[8] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[9] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[9] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[9] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[10] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[10] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[10] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[11] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[11] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[11] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[12] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[12] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[12] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[13] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[13] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[13] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[14] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[14] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[14] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[15] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[15] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[15] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[16] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[16] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[16] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[17] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[17] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[17] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[18] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[18] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[18] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[19] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[19] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[19] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[20] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[20] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[20] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
            <tr>
                <td>{{ (resultados[21] * masterShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[21] * visaShare / 100).toFixed(2) | currency:'BRL' }}</td>
                <td>{{ (resultados[21] * outrosShare / 100).toFixed(2) | currency:'BRL' }}</td>
            </tr>
        </table>
    </div>
</div>