<section class="TPV">
  <div class="TpvContainer">
    <div>
      <h1 class="titulo">{{currentTable.tableName}}</h1>
    </div>
    <div class="inputTPV">
      <input type="number" [(ngModel)]="inputValue">
    </div>
    <div class="Calcular">
      <button mat-raised-button (click)="calcular()">Calcular</button>
    </div>
  </div>

  <div class="escapay-container">
    <div>
      <escapay-share-bandeiras-total></escapay-share-bandeiras-total>
    </div>
    <div>
      <escapay-receita-franqueado [resultados]="resultados"></escapay-receita-franqueado>
    </div>
    <div>
      <escapay-comissao-clt [resultados]="resultados"></escapay-comissao-clt>
    </div>
    <div>
      <escapay-receita-total [resultados]="resultados"></escapay-receita-total>
    </div>
  </div>
</section>
<section class="tabela-container">
  <table class="tabelaFormas">
    <tr>
      <th>
        Formas de Pagamento
      </th>
    </tr>
    <tr>
      <td>Débito</td>
    </tr>
    <tr>
      <td>Crédito</td>
    </tr>
    <tr>
      <td>Parcelado 2x</td>
    </tr>
    <tr>
      <td>Parcelado 3x</td>
    </tr>
    <tr>
      <td>Parcelado 4x</td>
    </tr>
    <tr>
      <td>Parcelado 5x</td>
    </tr>
    <tr>
      <td>Parcelado 6x</td>
    </tr>
    <tr>
      <td>Parcelado 7x</td>
    </tr>
    <tr>
      <td>Parcelado 8x</td>
    </tr>
    <tr>
      <td>Parcelado 9x</td>
    </tr>
    <tr>
      <td>Parcelado 10x</td>
    </tr>
    <tr>
      <td>Parcelado 11x</td>
    </tr>
    <tr>
      <td>Parcelado 12x</td>
    </tr>
    <tr>
      <td>Parcelado 13x</td>
    </tr>
    <tr>
      <td>Parcelado 14x</td>
    </tr>
    <tr>
      <td>Parcelado 15x</td>
    </tr>
    <tr>
      <td>Parcelado 16x</td>
    </tr>
    <tr>
      <td>Parcelado 17x</td>
    </tr>
    <tr>
      <td>Parcelado 18x</td>
    </tr>
    <tr>
      <td>Parcelado 19x</td>
    </tr>
    <tr>
      <td>Parcelado 20x</td>
    </tr>
    <tr>
      <td>Parcelado 21x</td>
    </tr>
  </table>

  <div class="tabela-container-2">
    <div class="tabela">
      <table class="share-tpv">
        <tr>
          <th>Share TPV (%)</th>
          <th>Share TPV (R$)</th>
        </tr>
        <tr>
          <td>50,16%</td>
          <td></td>
        </tr>
        <tr>
          <td>11,57%</td>
          <td></td>
        </tr>
        <tr>
          <td>6,45%</td>
          <td></td>
        </tr>
        <tr>
          <td>7,75%</td>
          <td></td>
        </tr>
        <tr>
          <td>5,07%</td>
          <td></td>
        </tr>
        <tr>
          <td>3,96%</td>
          <td></td>
        </tr>
        <tr>
          <td>3,96%</td>
          <td></td>
        </tr>
        <tr>
          <td>1,15%</td>
          <td></td>
        </tr>
        <tr>
          <td>1,57%</td>
          <td></td>
        </tr>
        <tr>
          <td>0,41%</td>
          <td></td>
        </tr>
        <tr>
          <td>3,78%</td>
          <td></td>
        </tr>
        <tr>
          <td>0,09%</td>
          <td></td>
        </tr>
        <tr>
          <td>4,06%</td>
          <td></td>
        </tr>
        <tr>
          <td>0</td>
          <td></td>
        </tr>
        <tr>
          <td>0</td>
          <td></td>
        </tr>
        <tr>
          <td>0</td>
          <td></td>
        </tr>
        <tr>
          <td>0</td>
          <td></td>
        </tr>
        <tr>
          <td>0</td>
          <td></td>
        </tr>
        <tr>
          <td>0</td>
          <td></td>
        </tr>
        <tr>
          <td>0</td>
          <td></td>
        </tr>
        <tr>
          <td>0</td>
          <td></td>
        </tr>
        <tr>
          <td>0</td>
          <td></td>
        </tr>
      </table>

    </div>
  </div>
  <escapay-share-bandeiras [resultados]="resultados"></escapay-share-bandeiras>
  <escapay-taxa-custo></escapay-taxa-custo>
  <escapay-taxa-venda></escapay-taxa-venda>
  <escapay-markup></escapay-markup>
  <escapay-markup-bandeiras [resultados]="resultados"></escapay-markup-bandeiras>
  <escapay-custo-client></escapay-custo-client>
</section>