.TPV {
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.TpvContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 1rem
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
}

.dropdownth {
    background-color: #a1bf37;
    color: #fff;
    padding: 0.7rem;
    text-align: left;
    border: 1px solid #a1bf37;
    font-size: 1rem;
}

.dropdowntd {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: rgb(250, 250, 250);
}

.escapay-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
}

.escapay-container div {
    padding: 1rem;
}

.div_calcular {
    margin-top: 10px;
}

.calcular {
    display: table-cell;
    background-color: rgb(135, 161, 45) !important;
    border-radius: 3px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    height: 40px;
    width: 110px;
    min-width: 120px;
    line-height: 20px;
    margin: 8px 8px 8px 0;
    font-weight: 600;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
}

.calcular:hover {
    background-color: #ef9bbf !important;
}


.tabela-container {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    margin-left: 1rem;
}

table {
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela {
    margin-right: 1rem;
}


th {
    background-color: #ffffff;
    color: #000000;
    padding: 0.7rem;
    text-align: left;
    font-size: 1rem;
    height: 30px;
    border: 1px solid #e3e4e6;
}


td {
    padding: 10px;
    border: 1px solid #ddd;
    height: 30px;

}


tr:nth-child(even) {
    background-color: #e3e4e6;
}

.titulo {
    font-size: 2rem;
}

.input-share {
    text-align: center;
}

.input-text {
    text-align: center;
}