<section class="TPV">
  <div class="TpvContainer">
    <div>
      <h1 class="titulo">{{currentTable.tableName}}</h1>
    </div>
    <div class="inputTPV">
      R$<input type="text" [(ngModel)]="formattedValue" (input)="formatInput()">
    </div>
    <div class="div_calcular">
      <button mat-raised-button class="calcular" (click)="calcular()">Calcular</button>
    </div>
    <!-- <div class="soma-porcentagens">
      Soma das porcentagens: {{ calcularSomaPorcentagens() }}%
    </div> -->
  </div>
  <div class="escapay-container">
    <div class="dropdown-container">
      <table>
        <tr>
          <th class="dropdownth"><label for="tabelaDropdown">Selecionar Custo:</label></th>
        </tr>
        <tr>
          <td class="dropdowntd">
            <select id="tabelaDropdown" (change)="atualizarMaquininha()" [(ngModel)]="maquininhaSelecionadaId">
              <option *ngFor="let maquininha of maquininhasDisponiveis" [value]="maquininha._id">
                {{ maquininha.tableName }}
              </option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <escapay-share-bandeiras-total></escapay-share-bandeiras-total>
    </div>
    <div>
      <escapay-receita-franqueado [resultados]="resultados"></escapay-receita-franqueado>
    </div>
    <div>
      <escapay-comissao-clt [resultados]="resultados"></escapay-comissao-clt>
    </div>
    <div>
      <escapay-receita-total [resultados]="resultados"></escapay-receita-total>
    </div>
  </div>
</section>
<section class="tabela-container">
  <div class="tabela-container-2">
    <div class="tabela">
      <table class="share-tpv">
        <tr>
          <th>MODALIDADES</th>
          <th>SHARE TPV (%)</th>
          <th>SHARE TPV (R$)</th>
        </tr>
        <tr>
          <td>Débito</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagemDebito" (input)="validarPorcentagem()">
          </td>
          <td>{{ shareDebito | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Crédito</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagemCredito"
              (input)="validarPorcentagem()">
          </td>
          <td>{{ shareCredito | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 2x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem2x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share2x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 3x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem3x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share3x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 4x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem4x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share4x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 5x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem5x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share5x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 6x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem6x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share6x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 7x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem7x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share7x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 8x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem8x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share8x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 9x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem9x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share9x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 10x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem10x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share10x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 11x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem11x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share11x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 12x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem12x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share12x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 13x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem13x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share13x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 14x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem14x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share14x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 15x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem15x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share15x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 16x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem16x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share16x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 17x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem17x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share17x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 18x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem18x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share18x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 19x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem19x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share19x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 20x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem20x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share20x | currency: 'BRL' }}</td>
        </tr>
        <tr>
          <td>Parcelado 21x</td>
          <td class="input-share">
            <input class="input-text" mask="separator.2" suffix="%" thousandSeparator="." [decimalMarker]="','"
              separatorLimit="10" size="6" maxlength="6" [(ngModel)]="porcentagem21x" (input)="validarPorcentagem()">
          </td>
          <td>{{ share21x | currency: 'BRL' }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="tabela">
    <escapay-share-bandeiras [resultados]="resultados"></escapay-share-bandeiras>
  </div>
  <div class="tabela">
    <escapay-taxa-custo [tabelaSelecionada]="maquininhaTable"></escapay-taxa-custo>
  </div>
  <div class="tabela">
    <escapay-taxa-venda></escapay-taxa-venda>
  </div>
  <div class="tabela">
    <escapay-markup [tabelaSelecionada]="maquininhaTable"></escapay-markup>
  </div>
  <div class="tabela">
    <escapay-markup-bandeiras [resultados]="resultados"
      [tabelaSelecionada]="maquininhaTable"></escapay-markup-bandeiras>
  </div>
  <div class="tabela">
    <escapay-custo-client></escapay-custo-client>
  </div>
</section>