<mat-card class="cabecalho mat-elevation-z3">
    <mat-card-title class="title">Excluir Tabela</mat-card-title>
  </mat-card>
  <div class="nome-tabela">{{table.tableName}}</div>
  <div class="tabela-container">
    <div class="tabela">
      <table>
        <tr>
          <th>Forma de Pagamento</th>
          <th>MasterCard</th>
          <th>Visa</th>
          <th>Outros</th>
        </tr>
        <tr>
          <td class="celulas">Débito</td>
          <td class="celulas">{{table.debito.masterCard}}%</td>
          <td class="celulas">{{table.debito.visa}}%</td>
          <td class="celulas">{{table.debito.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">Crédito</td>
          <td class="celulas">{{table.credito.masterCard}}%</td>
          <td class="celulas">{{table.credito.visa}}%</td>
          <td class="celulas">{{table.credito.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">2x</td>
          <td class="celulas">{{table.duas.masterCard}}%</td>
          <td class="celulas">{{table.duas.visa}}%</td>
          <td class="celulas">{{table.duas.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">3x</td>
          <td class="celulas">{{table.tres.masterCard}}%</td>
          <td class="celulas">{{table.tres.visa}}%</td>
          <td class="celulas">{{table.tres.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">4x</td>
          <td class="celulas">{{table.quatro.masterCard}}%</td>
          <td class="celulas">{{table.quatro.visa}}%</td>
          <td class="celulas">{{table.quatro.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">5x</td>
          <td class="celulas">{{table.cinco.masterCard}}%</td>
          <td class="celulas">{{table.cinco.visa}}%</td>
          <td class="celulas">{{table.cinco.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">6x</td>
          <td class="celulas">{{table.seis.masterCard}}%</td>
          <td class="celulas">{{table.seis.visa}}%</td>
          <td class="celulas">{{table.seis.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">7x</td>
          <td class="celulas">{{table.sete.masterCard}}%</td>
          <td class="celulas">{{table.sete.visa}}%</td>
          <td class="celulas">{{table.sete.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">8x</td>
          <td class="celulas">{{table.oito.masterCard}}%</td>
          <td class="celulas">{{table.oito.visa}}%</td>
          <td class="celulas">{{table.oito.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">9x</td>
          <td class="celulas">{{table.nove.masterCard}}%</td>
          <td class="celulas">{{table.nove.visa}}%</td>
          <td class="celulas">{{table.nove.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">10x</td>
          <td class="celulas">{{table.dez.masterCard}}%</td>
          <td class="celulas">{{table.dez.visa}}%</td>
          <td class="celulas">{{table.dez.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">11x</td>
          <td class="celulas">{{table.onze.masterCard}}%</td>
          <td class="celulas">{{table.onze.visa}}%</td>
          <td class="celulas">{{table.onze.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">12x</td>
          <td class="celulas">{{table.doze.masterCard}}%</td>
          <td class="celulas">{{table.doze.visa}}%</td>
          <td class="celulas">{{table.doze.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">13x</td>
          <td class="celulas">{{table.treze.masterCard}}%</td>
          <td class="celulas">{{table.treze.visa}}%</td>
          <td class="celulas">{{table.treze.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">14x</td>
          <td class="celulas">{{table.quatorze.masterCard}}%</td>
          <td class="celulas">{{table.quatorze.visa}}%</td>
          <td class="celulas">{{table.quatorze.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">15x</td>
          <td class="celulas">{{table.quinze.masterCard}}%</td>
          <td class="celulas">{{table.quinze.visa}}%</td>
          <td class="celulas">{{table.quinze.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">16x</td>
          <td class="celulas">{{table.dezesseis.masterCard}}%</td>
          <td class="celulas">{{table.dezesseis.visa}}%</td>
          <td class="celulas">{{table.dezesseis.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">17x</td>
          <td class="celulas">{{table.dezessete.masterCard}}%</td>
          <td class="celulas">{{table.dezessete.visa}}%</td>
          <td class="celulas">{{table.dezessete.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">18x</td>
          <td class="celulas">{{table.dezoito.masterCard}}%</td>
          <td class="celulas">{{table.dezoito.visa}}%</td>
          <td class="celulas">{{table.dezoito.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">19x</td>
          <td class="celulas">{{table.dezenove.masterCard}}%</td>
          <td class="celulas">{{table.dezenove.visa}}%</td>
          <td class="celulas">{{table.dezenove.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">20x</td>
          <td class="celulas">{{table.vinte.masterCard}}%</td>
          <td class="celulas">{{table.vinte.visa}}%</td>
          <td class="celulas">{{table.vinte.outros}}%</td>
        </tr>
        <tr>
          <td class="celulas">21x</td>
          <td class="celulas">{{table.vinteUm.masterCard}}%</td>
          <td class="celulas">{{table.vinteUm.visa}}%</td>
          <td class="celulas">{{table.vinteUm.outros}}%</td>
        </tr>
      </table>
    </div>
  
    <div class="buttons-container">
      <button mat-raised-buton (click)="deleteTable()" class="deletar" color="warn">
        Deletar
      </button>
  
      <button mat-raised-buton (click)="cancel()" class="cancelar">
        Cancelar
      </button>
    </div>
  </div>