.tabela-container {
    display: flex;
    align-items: flex-start;
}

table {
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    background-color: #ffffff;
    color: #000000;
    padding: 0.7rem;
    text-align: left;
    font-size: 1rem;
    height: 30px;
    border: 1px solid #e3e4e6;
}


td {
    padding: 10px;
    border: 1px solid #ddd;
    height: 30px;

}


tr:nth-child(even) {
    background-color: #e3e4e6;
}

.nav-oculto {
    width: 40px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 0.3rem;
    opacity: 0;
}