<div class="tabela-container">
    <div class="tabela">
        <table>
            <tr>
                <th>MODALIDADES
                    <img class="nav-oculto" src="assets/img/master.png" alt="logo">
                </th>
                <th>SIMULADO
                    <img class="nav-oculto" src="assets/img/master.png" alt="logo">
                </th>
                <th>A RECEBER
                    <img class="nav-master" src="assets/img/master.png" alt="logo">
                </th>
                <th>A RECEBER
                    <img class="nav-visa" src="assets/img/visa.png" alt="logo">
                </th>
                <th>A RECEBER
                    <img class="nav-outros" src="assets/img/outros.png" alt="logo">
                </th>
                <th>CUSTO CLIENTE
                    <img class="nav-oculto" src="assets/img/master.png" alt="logo">
                </th>
                <th>VALOR DA PARCELA
                    <img class="nav-oculto" src="assets/img/master.png" alt="logo">
                </th>
                <th>TAXA
                    <img class="nav-oculto" src="assets/img/master.png" alt="logo">
                </th>
            </tr>
            <tr>
                <td>Débito</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.debito.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.debito.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.debito.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ custoReais(convertToNumber(table.debito.masterCard)) | currency:'BRL' }}</td>
                <td>{{ custoReais(convertToNumber(table.debito.masterCard)) | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.debito.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Crédito</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.credito.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.credito.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.credito.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.credito.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.credito.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.credito.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%
                </td>
            </tr>
            <tr>
                <td>Parcelado 2x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.duas.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.duas.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.duas.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.duas.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.duas.masterCard))/100)) / 2 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.duas.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 3x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.tres.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.tres.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.tres.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.tres.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.tres.masterCard))/100)) / 3 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.tres.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 4x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.quatro.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.quatro.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.quatro.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.quatro.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.quatro.masterCard))/100)) / 4 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.quatro.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 5x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.cinco.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.cinco.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.cinco.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.cinco.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.cinco.masterCard))/100)) / 5 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.cinco.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 6x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.seis.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.seis.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.seis.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.seis.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.seis.masterCard))/100)) / 6 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.seis.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 7x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.sete.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.sete.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.sete.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.sete.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.sete.masterCard))/100)) / 7 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.sete.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 8x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.oito.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.oito.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.oito.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.oito.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.oito.masterCard))/100)) / 8 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.oito.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 9x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.nove.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.nove.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.nove.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.nove.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.nove.masterCard))/100)) / 9 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.nove.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 10x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.dez.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.dez.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.dez.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.dez.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.dez.masterCard))/100)) / 10 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.dez.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 11x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.onze.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.onze.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.onze.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.onze.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.onze.masterCard))/100)) / 11 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.onze.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 12x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.doze.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.doze.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.doze.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.doze.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.doze.masterCard))/100)) / 12 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.doze.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 13x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.treze.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.treze.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.treze.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.treze.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.treze.masterCard))/100)) / 13 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.treze.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 14x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.quatorze.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.quatorze.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.quatorze.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.quatorze.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.quatorze.masterCard))/100)) / 14 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.quatorze.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%
                </td>
            </tr>
            <tr>
                <td>Parcelado 15x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.quinze.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.quinze.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.quinze.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.quinze.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.quinze.masterCard))/100)) / 15 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.quinze.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 16x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.dezesseis.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.dezesseis.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.dezesseis.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.dezesseis.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.dezesseis.masterCard))/100)) / 16 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.dezesseis.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%
                </td>
            </tr>
            <tr>
                <td>Parcelado 17x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.dezessete.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.dezessete.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.dezessete.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.dezessete.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.dezessete.masterCard))/100)) / 17 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.dezessete.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%
                </td>
            </tr>
            <tr>
                <td>Parcelado 18x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.dezoito.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.dezoito.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.dezoito.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.dezoito.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.dezoito.masterCard))/100)) / 18 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.dezoito.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%
                </td>
            </tr>
            <tr>
                <td>Parcelado 19x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.dezenove.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.dezenove.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.dezenove.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.dezenove.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.dezenove.masterCard))/100)) / 19 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.dezenove.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%
                </td>
            </tr>
            <tr>
                <td>Parcelado 20x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.vinte.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.vinte.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.vinte.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.vinte.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.vinte.masterCard))/100)) / 20 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.vinte.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
                <td>Parcelado 21x</td>
                <td>{{1000 | currency:'BRL'}}</td>
                <td>{{1000 - (table.vinteUm.masterCard / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.vinteUm.visa / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{1000 - (table.vinteUm.outros / 100 * 1000) | currency:'BRL'}}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.vinteUm.masterCard))/100)) | currency:'BRL' }}</td>
                <td>{{ (1000/ ((100 - convertToNumber(table.vinteUm.masterCard))/100)) / 21 | currency:'BRL' }}</td>
                <td>{{ ((custoReais(convertToNumber(table.vinteUm.masterCard))-1000)/1000)*100 | number: '1.2-2' }}%
                </td>
            </tr>
        </table>

    </div>
</div>